=render 'shared/side-bar'

.chat-main
  .chat-main__group-contents
    .group-info
      .group-info__name
        = @group.name
      .group-info__member 
        - @members.each do |member|
          = member.name
    .group-edit
      =link_to "#", class: "group-edit__edit-btn" do
        Edit
  .chat-main__message-list
    = render @messages
   
  .chat-main__message-form
    =form_for [@group, @message] do |f|  
      .form-contents  
        .input-message
          =f.text_field :body, class: 'input-message__text', placeholder: 'type a message'
          =f.label :image, class: "input-message__image" do
            = icon('far','image')
            =f.file_field :image, class: "input-message__image--invisible"
        = f.submit 'Send', class: "form-contents__send-btn"
